__pycache__/
*.py[cod]
*$py.class
venv/
.env

/imghost-web/.next/
/imghost-web/node_modules/
/imghost-web/.env.local

/backend/node_modules/
/backend/__pycache__/

.DS_Store
Thumbs.db
imghost-web/instrumentation-client.ts
imghost-web/instrumentation.ts
imghost-web/sentry.edge.config.ts
imghost-web/sentry.server.config.ts

imghost-web/app/global-error.tsx
imghost-web/app/api/sentry-example-api/route.ts
imghost-web/app/sentry-example-page/page.tsx
